<div class="table-container">
    <table>
        <tbody>
        <tr>
            <th class="table-col1">Color</th>
            <th class="table-col2">Meaning</th>
            <th class="table-col3">Additional Notes</th>
        </tr>
        <tr>
            <td id="color-uneditable"></td>
            <td>Cannot change directly in Spektrix system</td>
            <td>Your web developer may be able to mask this text using CSS styling</td>
        </tr>
        <tr>
            <td id="color-argument"></td>
            <td>Displayed according to arguments in iframe url</td>
            <td>This just means adding some text on to the url such as "SortBy=Date" in order to have Events sorted by date. Will likely require a small bit of work by a developer. Full documentation can be found on the <a href="https://integrate.spektrix.com/docs/standardbookingflow" class="">integrate portal</a>.</td>
        </tr>
        <tr>
            <td id="color-admin"></td>
            <td>Item-level infromation, editable in Admin interface</td>
            <td></td>
        </tr>
        <tr>
            <td id="color-editable"></td>
            <td>Editable in Settings or Website Admin interface</td>
            <td></td>
        </tr>
        <tr>
            <td id="color-conditional"></td>
            <td>Optional information that displays conditionally</td>
            <td></td>
        </tr>
    </tbody>
    </table>
</div>