<!DOCTYPE html>
<html lang="en">
<head>
    {% include gtmHead.html %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include gtmInline.html %}
    {% include header.html %}
    <div class="page-container">
        {% include nav.html %}
        <main>
            {{ content }}
            {% include table.html %}
            <div class="iframe-container">
                <script src="../assets/javascript/iframeLoader.js"></script>
            </div>
        </main>
    </div>
</body>
</html>